body
{
    background-image: repeating-linear-gradient(45deg, #101010, #303030 10px);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dropdownContent
{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdownContent button
{
    display: block;
    width: 100%;
}

.dropdownShow
{
    display: inline;
}

.headerTDs
{
    background-color: #303030;
    border-radius: 5px;
    padding: 0.5em;
}

.vehiclesTable
{
    width: 100%;
    border-radius: 5px;
}

.tableHeaderBlue
{
    background-color: #7777ee;
    user-select: none;
    cursor: pointer;
}

.tableHeaderBlue:hover
{
    background-color: #5555ee;
}

.tableHeaderRed
{
    background-color: #ee7777;
    user-select: none;
    cursor: pointer;
}

.tableHeaderRed:hover
{
    background-color: #ee5555;
}

.blue
{
    background-color: #8888ee;
}

.red
{
    background-color: #ee8888;
}

.vibrantBlue
{
    background-color: #5555ee;
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.vibrantRed
{
    background-color: #ee5555;
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.suggestion
{
    background-color: #000000e0;
    text-align: left;
    user-select: none;
}

.suggestion:hover
{
    background-color: #000000ff;
}

#searchInput
{
    background-color: #505050;
    color: #ffffff;
}

.lineupSuggestion
{
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

.textShadow
{
    text-shadow: 1px 1px 1px black;
}

.mainTableSize
{
    width: 75%;
}

.vehicleNameSize
{
    font-size: 1.5em;
}

.vehicleTd
{
    background-color: #0000000a;
}

.undecoratedLinks
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.nationFlags
{
    filter: drop-shadow(1px 1px 2px #000000);
}

.nationFlagUnselected
{
    filter: grayscale(100%);
}

#utilsDiv
{
    position: fixed;
    right: 0;
    bottom: 0;
}

#utilsButton
{
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: #00000088;
    border-radius: 15px;
    color: white;
    font-size: 2em;
}

#utilsButtonTd
{
    vertical-align: bottom;
}

#utilsMenu
{
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #00000088;
    border-radius: 15px;
}