:root
{
    --bright-red: #dd8888e0;
    --header-red: #dd7777;
    --vibrant-red: #dd5555;

    --bright-blue: #8888dde0;
    --header-blue: #7777dd;
    --vibrant-blue: #5555dd;

    --bright-gray: #aaaaaad0;
    --header-gray: #666666;
    --vibrant-gray: #444444;
}

body
{
    background-image: repeating-linear-gradient(45deg, #101010, #303030 10px);
    font-family: 'Helvetica', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dropdownContent
{
    display: none;
    position: absolute;
    background-color: #000000c0;
    border-radius: 20px;
    border: 3px solid black;
    padding: 20px;
    margin-left: 0.3em;
    z-index: 1;
}

.dropdownContent button
{
    display: block;
    width: 100%;
}

.dropdownShow
{
    display: inline;
}

.headerTDs
{
    background-color: #303030;
    border-radius: 5px;
    padding: 0.5em;
}

.vehiclesTable
{
    width: 100%;
    border-radius: 5px;
}

.tableHeaderBlue
{
    background-color: var(--header-blue);
    user-select: none;
    cursor: pointer;
}

.tableHeaderBlue:hover
{
    background-color: var(--vibrant-blue);
}

.blue
{
    background-color: var(--bright-blue);
}

.vibrantBlue
{
    background-color: var(--vibrant-blue);
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.tableHeaderRed
{
    background-color: var(--header-red);
    user-select: none;
    cursor: pointer;
}

.tableHeaderRed:hover
{
    background-color: var(--vibrant-red);
}

.red
{
    background-color: var(--bright-red);
}

.vibrantRed
{
    background-color: var(--vibrant-red);
    user-select: none;
    text-shadow: 1px 1px 1px black;
}

.suggestion
{
    background-color: #000000d0;
    text-align: left;
    user-select: none;
}

.suggestion:hover
{
    background-color: #111111ff;
}

#searchInput
{
    background-color: #505050;
    color: #ffffff;
}

.lineupSuggestion
{
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

.modeChoice
{
    background-color: #666666d0;
}

.modeChoice:hover
{
    background-color: #666666d0;
}

.lineupsAmpersand
{
    font-size: 0.8em;
}

#scheduleFuture
{
    background-color: #000000f8;
    width: 100%;
    position: absolute;
    z-index: 1;
    line-height: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.textShadow
{
    text-shadow: 1px 1px 1px black;
}

.mainTableSize
{
    width: 75%;
}

.vehicleNameSize
{
    font-size: 1.5em;
}

.vehicleTd
{
    background-color: #0000000a;
}

.undecoratedLinks
{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.scheduleTitles
{
    font-size: 0.7em;
}

.nationFlags
{
    filter: drop-shadow(1px 1px 2px #000000);
}

.nationFlagUnselected
{
    filter: grayscale(100%);
}

#utilsDiv
{
    position: fixed;
    right: 0;
    bottom: 0;
}

.semitransparentButtons
{
    background-color: #00000088;
    border-radius: 15px;
    color: white;
}

#utilsButton
{
    margin-bottom: 1em;
    padding: 0.5em;
    font-size: 2em;
}

#utilsButtonTd
{
    vertical-align: bottom;
}

#utilsMenu
{
    padding: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    background-color: #00000088;
    border-radius: 15px;
}

.tableHeaderGray
{
    background-color: var(--header-gray);
    user-select: none;
    cursor: pointer;
}

.tableHeaderGray:hover
{
    background-color: var(--vibrant-gray);
}

.gray
{
    background-color: var(--bright-gray);
}

.vibrantGray
{
    background-color: var(--vibrant-gray);
    user-select: none;
    text-shadow: 1px 1px 1px black;
}